@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
/* ================================================header css====================================================== */
.header{
    display:flex;
    justify-content: space-around;
    padding: 30px 0;
    height: 80px;

}
.header-left{
    margin-top: 10px;
    margin-left: -110px;
}
.header-left h2{
    font-weight: 600;
    
}
.header-right ul li{
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
}
/* =================================================banner css================================================= */
.banner{
  
    display: flex;
   
justify-content: space-evenly;
align-items: center;
}
.banner-left{
  width: 50%;
  margin-left: 100px;
}
.banner-left h1{
    color: #192a56;
    font-size: 50px;
}
.banner-left p{
   margin: 20px 0;
}
.primary-button{
    outline: 0;
    border: 0;
    background-color: #B53471;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
   border-radius:  30px;
   font-size: 15px;
   text-transform: uppercase;
   margin-top: 30px;
}
.primary-button .button-icon {
    margin-left: 5px;
    margin-top: 2px;
}
.banner-right{
    width:800px;
    margin-left: 100px;
}
.animation{
  
  height: 350px;
   
   
}
.animation:hover{
  
    transition-duration: 1.5s;
    transform: scale(1.3) rotate(360deg);
  transform-origin: 50% 50%;
}
/* =================================================product css============================================= */
#title{
    font-size: 30px;
    color: rgb(56, 55, 55)
}
.header-title{
   font-size: 26px;
}
.container>h2{
    text-align: center;
    margin: 30px 0;
}

.fa-star.filled{
    color: goldenrod;
    font-size: 12px;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 100px;
   

}
.product-title h3{
    font-size: 25px;

}
.product-title p{
    margin: 8px 0;
}
.footer{
    align-items: center;
   
    display: flex;
    flex-direction: column;
    background-color: #1e272e;
    height: 150px;
}
.footer p {
    color: #fff;
    margin: 5px 0;
    font-size: 20px;
    
}
.footer h3{
    color: #fff;
    font-size:20px;
}
footer i{
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
}
